.adjust {
    animation-name: translate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  @keyframes translate {
    0% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  .hidden {
    animation-name: pull;
    animation-duration: 1s;
    animation-iteration-count: 4s;
    display: none;
  }
  @keyframes pull {
    0% {
      opacity: 0;
      transform: translateY(50%);
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  .row {
    animation-name: hide;
    animation-duration: 2s;
    animation-iteration-count: initial;
  }
  @keyframes hide {
    0% {
      border: 5px solid red;
      transform: translateX(30%);
    }
    50% {
      border: 2px solid blueviolet;
    }
    100% {
      border: none;
    }
  }